/* Margin/Padding */
/**
 * Typography
 */
body,
button,
input,
select,
optgroup,
textarea {
	color: #121212;
	font-family: "Be Vietnam Pro", sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

/* Headings */
h1,
.wp-block-freeform.block-library-rich-text__tinymce h1,
h2,
.wp-block-freeform.block-library-rich-text__tinymce h2,
h3,
.wp-block-freeform.block-library-rich-text__tinymce h3,
h4,
.wp-block-freeform.block-library-rich-text__tinymce h4,
h5,
.wp-block-freeform.block-library-rich-text__tinymce h5,
h6,
.wp-block-freeform.block-library-rich-text__tinymce h6 {
	clear: both;
	margin-bottom: 20px;
	font-family: "Be Vietnam Pro", sans-serif;
}

h1,
.wp-block-freeform.block-library-rich-text__tinymce h1 {
	font-size: 32px;
}

h2,
.wp-block-freeform.block-library-rich-text__tinymce h2 {
	font-size: 24px;
}

h3,
.wp-block-freeform.block-library-rich-text__tinymce h3 {
	font-size: 20px;
}

h4,
.wp-block-freeform.block-library-rich-text__tinymce h4 {
	font-size: 18px;
}

h5,
.wp-block-freeform.block-library-rich-text__tinymce h5 {
	font-size: 16px;
}

h6,
.wp-block-freeform.block-library-rich-text__tinymce h6 {
	font-size: 14px;
}

/* copy */
p {
	margin-bottom: 1em;
	line-height: 1.7;
}

b, strong {
	font-weight: 700;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	font-size: 20px;
	margin: 0 0 1.5em 0;
	padding: 0.25em 0 0.25em 0.8em;
	border-left: 2px solid #121212;
}

address {
	line-height: 1.7;
	margin: 0 0 1.875em;
}

pre {
	background: #EBEBEC;
	font-family: "Courier 10 Pitch", courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.875em;
	max-width: 100%;
	overflow: auto;
	padding: 1.875em;
}

code,
kbd,
tt,
var {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	background-color: #EBEBEC;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #EBEBEC;
}

big {
	font-size: 150%;
}

/*
 * Elements.
*/
/* hr */
hr {
	background-color: #EBEBEC;
	border: 0;
	height: 1px;
	margin: 1.875em 0;
}

/* Lists */
ul,
ol {
	margin: 0 0 1.875em 1.25em;
}

ul {
	list-style: disc;
}

ul ul {
	list-style: circle;
}

ul ul ul {
	list-style: square;
}

li {
	line-height: 2em;
}

ol {
	list-style: decimal;
}

ol ol {
	list-style: lower-alpha;
}

ol ol ol {
	list-style: lower-roman;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 2em;
}

dt {
	font-weight: 700;
	margin-bottom: 1em;
}

dd {
	margin: 0 1.875em 1.875em;
}

/* Media */
img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 1em 0;
}

/* Table */
table {
	margin: 0 0 1.5em;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}

table thead {
	background-color: #F8F8F8;
}

table th,
table td {
	padding: 0.75em;
	border: 1px solid #EBEBEC;
}

a {
	color: #FCA311;
	text-decoration: none;
}
