a {
	color: #0073aa;
}

a:focus {
	-webkit-box-shadow: 0 0 0 1px rgba(0, 115, 170, 0.8);
	box-shadow: 0 0 0 1px rgba(0, 115, 170, 0.8);
}

.button {
	background: #ebebeb;
	border-color: #0073aa;
	color: #0073aa;
	font-weight: 600;
	-webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
	transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
	background: #ffffff;
	color: #0073aa;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	margin-top: 0;
}

.ole-section-separator {
	display: block !important;
	margin-top: 4px;
}

.customize-section-description .online-education-section-description ul {
	margin: 0;
}

.customize-section-description .online-education-section-description ul > li {
	list-style: none;
}

.customize-section-description .online-education-section-description ul > li:last-child {
	margin-bottom: 0;
}

.customize-section-description .online-education-section-description a {
	font-style: italic;
}

.customize-control {
	background: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 0;
	padding: 10px;
	position: relative;
}

.customize-control .customize-control-title {
	color: #444444;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 0px;
}

.customize-control .online-education-control-tooltip {
	position: absolute;
	left: 10px;
	top: 9px;
}

.customize-control .online-education-control-tooltip:hover {
	cursor: pointer;
}

.customize-control .attachment-media-view .button-add-media {
	background: #ebebeb;
}

.customize-control .attachment-media-view .button-add-media:hover {
	background: #ffffff;
}

.customize-control select,
.customize-control input[type]:not([type=range]):not([type=button]):not([type=submit]):not([type=checkbox]):not([type=radio]),
.customize-control .select2-selection--single {
	border-color: #eeeeee;
	border-radius: 2px;
	height: 33px;
}

.customize-control .customize-inside-control-row {
	padding-bottom: 0;
	padding-top: 0;
}

.customize-control.customize-control-radio .customize-inside-control-row, .customize-control.customize-control-checkbox .customize-inside-control-row {
	padding-bottom: 6px;
	padding-top: 6px;
}

.customize-control.has-responsive-switchers .responsive-switchers {
	position: absolute;
	left: 0;
	top: -3px;
}

.customize-control.has-responsive-switchers .responsive-switchers li {
	float: right;
	line-height: 0;
	margin: 0;
	padding-left: 2px;
}

.customize-control.has-responsive-switchers .responsive-switchers li button {
	background: transparent;
	border: none;
	color: rgba(68, 68, 68, 0.5);
	cursor: pointer;
	outline: none;
	padding: 2px;
}

.customize-control.has-responsive-switchers .responsive-switchers li button i {
	font-size: 14px;
	line-height: 20px;
}

.customize-control.has-responsive-switchers .responsive-switchers li button.active {
	color: #0073aa;
}

.customize-control.has-responsive-switchers .control-wrap:not(.active) {
	display: none;
	width: 100%;
}

.in-sub-panel #customize-theme-controls .customize-pane-child.current-panel-parent {
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

#customize-theme-controls .customize-pane-child.current-section-parent {
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

#customize-theme-controls .control-section.open {
	height: 100%;
}

#customize-theme-controls .control-section.control-section-online-education_section .accordion-section {
	margin-right: -12px;
	margin-left: -12px;
}

#customize-theme-controls .control-section.control-section-online-education_section .accordion-section-title {
	background-color: #ffffff;
	border-bottom: 1px solid #ebebeb;
	border-right: 4px solid #ffffff;
	color: #444444;
	-webkit-transition: .15s color ease-in-out, .15s background-color ease-in-out, .15s border-color ease-in-out;
	transition: .15s color ease-in-out, .15s background-color ease-in-out, .15s border-color ease-in-out;
}

#customize-theme-controls .control-section.control-section-online-education_section .accordion-section-title:after {
	color: #a0a5aa;
}

#customize-theme-controls .control-section.control-section-online-education_section .accordion-section-title:hover,
#customize-theme-controls .control-section.control-section-online-education_section .accordion-section-title:focus {
	background: #f3f3f5;
	border-right-color: #0073aa;
	color: #0073aa;
}

#customize-theme-controls .control-section.control-section-online-education_section .accordion-section-title:hover:after {
	color: #0073aa;
}

#customize-theme-controls .accordion-section-title {
	border-color: #ebebeb;
	color: #444444;
	font-weight: 600;
}

#customize-theme-controls .accordion-section-title:hover, #customize-theme-controls .accordion-section-title:focus {
	border-right-color: #0073aa;
	color: #0073aa;
}

.online-education-hide {
	display: none !important;
}

.customize-control-checkbox,
.customize-control-radio {
	padding-bottom: 5px;
	padding-top: 5px;
}

#accordion-section-online-education_customize_upsell_section h3.accordion-section-title {
	background-color: #289DCC !important;
	border-right-color: #0073aa;
	color: #fff !important;
	padding: 0;
}

#accordion-section-online-education_customize_upsell_section h3.accordion-section-title a {
	color: #fff;
	display: block;
	padding: 12px 15px 15px;
	text-decoration: none;
}

#accordion-section-online-education_customize_upsell_section h3.accordion-section-title a:hover {
	background-color: #1f91bf !important;
}

#accordion-section-online-education_customize_upsell_section h3.accordion-section-title:after {
	color: #fff !important;
}

#accordion-section-online-education_customize_upsell_section h3 a::after {
	color: #fff;
}
